.keyboard__wrapper {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    gap: 8px;
}

.keyboard__wrapper button{
    text-transform: uppercase;
    cursor: pointer;
}

.active-button {
    background-color: cornflowerblue;
    cursor: unset !important;
}

.inactive-button {
    opacity: .5;
    cursor: unset !important;
}

@media screen and (max-width: 820px) {
    .keyboard__wrapper {
        padding: 0 1rem;
    }
}